
.container {
    display: flex;
    justify-content: space-around;
}
body {
    font-family: sans-serif;
}
.card-body {
    padding: 10px; /* Điều chỉnh padding cho card-body */
}

.row {
    margin-top: 100px; /* Thay đổi khoảng cách giữa các card và navbar */
}
.card {
    max-width: 300px; /* Điều chỉnh kích thước tổng thể của thẻ card */
}

.card-img-top {
    max-width: 100%; /* Đảm bảo hình ảnh vừa với kích thước của thẻ card */
    height: auto;
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Đẩy các mục về phía bên phải */
    flex-wrap: nowrap; /* Đảm bảo tất cả các mục nằm trên cùng một hàng */
    flex-grow: 1; /* Mở rộng để lấp đầy toàn bộ không gian có sẵn */
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Khoảng cách giữa các mục */
}

.navbar-nav .nav-link {
    padding: 10px 15px; /* Điều chỉnh padding cho từng menu */
}
