* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color: #ffffff;
    position: fixed;
}

.navbar .nav-item.active .nav-link,
.navbar .nav-item .nav-link:hover {
    color: #000000;
    padding: 15px;
}

.jumbotron {
    background-color: #F4F7FE;
    color: #595757;
    margin-top: 60px;
}

.tail {
    color: #f8f8f8;
    background-color: #007bff;
    display: inline-block;
    padding: 10px 15px;
}

.column {
    display: inline-block;
    width: 30%;
    /* Điều chỉnh chiều rộng của mỗi cột */
    text-align: center;
    /* Căn giữa nội dung trong mỗi cột */
    margin: 0 5px;
    /* Khoảng cách giữa các cột */
}

.number {
    color: #007bff;
    /* Màu chữ xanh */
    font-size: 24px;
    /* Kích thước chữ */
    font-weight: bold;
    /* Đậm chữ */
}

.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.contact,
.info {
    flex: 1;
}

h3 {
    color: #333;
}

p,
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    margin-top: 10px;
    margin-bottom: 50px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#subjects-dropdown-menu {
    display: none; /* Ẩn menu môn học mặc định */
}

#subjects-dropdown-menu.show {
    display: block; /* Hiển thị menu môn học khi có lớp show */
}