/* Canh giữa nội dung */
#user-info {
    text-align: center;
    margin-top: 100px;
}


.edit-button {
    float: right;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}

.navbar-brand {
    text-align: center;
}

body {
    font-size: 16px;
    /* Thiết lập kích thước phông chữ mặc định */
}

/* Truy vấn @media cho các màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        /* Giảm kích thước phông chữ cho các thiết bị có màn hình nhỏ hơn hoặc bằng 768px */
    }
}

/* Truy vấn @media cho các màn hình nhỏ hơn hoặc bằng 576px */
@media screen and (max-width: 576px) {
    body {
        font-size: 12px;
        /* Giảm kích thước phông chữ hơn nữa cho các thiết bị có màn hình nhỏ hơn hoặc bằng 576px */
    }
}